
.control-header {
    height: 59px;
    background-color: #eff3f6;
}

.control-col {
    display: flex;
    align-items: center;
}

.control-col.left {
    justify-content: flex-start;
}

.control-col.right {
    justify-content: flex-end;
}

.share-button {
    width: 92px;
    height: 34px;
    border-radius: 4px;
    border: solid 1px #d0d9e2;
    background-image: linear-gradient(to bottom, #ffffff, #f8fafc);
    font-size: 14px;
    font-weight: bold;
    text-align: center;
    color: #556c86;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
}

.share-button img {
    margin-right: 4px;
}

.row-p-15 {
    padding: 15px;
}

.row-flex-column {
    flex-direction: column;
}