.control-bar {
    display: flex;
    align-items: center;
    margin-left: 10px;
    align-self: center;
}

.rotate-button {
    width: 16px;
    height: 19px;
    object-fit: contain;
}

.right-button {
    margin-left: 13px;
}

.left-button {
    margin-right: 14px;
}

.play-circle-fill, .pause-circle-fill {
    width: 34px;
    height: 34px;
    object-fit: contain;
}

.oval {
    width: 40px;
    height: 20px;
    object-fit: contain;
    border-radius: 40px;
    border: solid 1px #d0d9e2;
    background-image: linear-gradient(to bottom, #ffffff, #f8fafc);
    margin-left: 20px;
    font-size: 12px;
    font-weight: bold;
    text-align: center;
    color: #556c86;
}