.input-base {
    width: 370px;
    height: 34px;
    border-radius: 4px;
    border: solid 1px #dfe3e9;
    background-color: #ffffff;
    background: url('../../assets/icon-search.svg') no-repeat scroll 7px 7px;
    padding-left:30px;
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    opacity: 0.75;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    font-weight: normal;
    color: #7e8fa5;
}

::-moz-placeholder { /* Firefox 19+ */
    opacity: 0.75;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    font-weight: normal;
    color: #7e8fa5;
}

:-ms-input-placeholder { /* IE 10+ */
    opacity: 0.75;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    font-weight: normal;
    color: #7e8fa5;
}

:-moz-placeholder { /* Firefox 18- */
    opacity: 0.75;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    font-weight: normal;
    color: #7e8fa5;
}