.transcribe-box-container {
    display: flex;
    justify-content: flex-start;
    padding-bottom: 24px;
}

.message-box {
    text-align: left;
    padding-left: 9px;
    font-size: 13px;
    font-weight: normal;
    color: #556c86;
    width: 600px;
}

.message-box.client{
    border-left: solid 2px #0d77c6;
}

.message-box.agent{
    border-left: solid 2px #8868E9;
}

.time {
    font-size: 12px;
    font-weight: 600;
    padding-right: 9px;
    width: 43px;
}

.time.client {
    color: #1a99f6;
}

.time.agent {
    color: #8868E9;
}

.selected-word {
    border-radius: 2px;
    background-color: rgba(26, 153, 246, 0.25);
}

.word {
    cursor: pointer;
}